<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Students</title>
    <link rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}" />
    <link rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
    <script type="text/javascript" src="/static/angular.min.js" th:src="@{/angular.min.js}"></script>
    <script type="text/javascript" src="/static/app/app.module.js" th:src="@{/app/app.module.js}"></script>
    <script type="text/javascript" src="/static/app/students.controller.js" th:src="@{/app/students.controller.js}"></script>
    
</head>
<body ng-app="app" ng-controller="StudentsController as vm">
	<header>
	    <nav class="navbar navbar-default">
	        <div class="container-fluid">
	            <div class="navbar-header">
	                <a class="navbar-brand" href="#">Students</a>
	            </div>
	             <p class="navbar-text navbar-right" th:text="${#dates.format(datetime, 'dd MMM yyyy HH:mm')}" style="margin-right: 10px;">Page was rendered today</p>
	        </div>
	    </nav>
	</header>
	
	<div>
		<div>
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <div class="btn-group" role="group">
                <button ng-click="vm.getAll()"  type="button" class="btn btn-default">All</button>
                <button contenteditable ng-click="vm.getProgrammer()" id="filter" type="button" class="btn btn-default">Programmer</button>
            </div>
            

            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Number of Semesters Spent</th>
                    <th style="width: 90px"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="student in vm.students">
                    <td>{{student.name}}</td>
                    <td>{{student.department}}</td>
                    <td>{{student.numOfSemestersSpent}}</td>
                    <td>
                        <button class="btn btn-danger" ng-click="vm.deleteStudent(student.id)">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
	</div>

</body>
</html>